mat-toolbar {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);

  .navigation-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;

    &:hover {
      &:after {
        content: "";
        position: absolute;
        display: block;
        left: 25%;
        right: 25%;
        bottom: 0;
        border: 2px solid black;
      }
    }
  }
}

