mat-toolbar {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);

  .navigation-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;

    &:hover {
      color: #000;
    }
  }
}

